# REQUIRED CONFIG
BOT_TOKEN = "5445509330:AAGC8gNYYlxmnPE6-K7YxiRjuQKcOrGJ59k"
OWNER_ID = "1103392937"
TELEGRAM_API = "6953769"
TELEGRAM_HASH = "44d943e23486a579d46ce7dc7cd19c88"
# OPTIONAL CONFIG
GDRIVE_FOLDER_ID = "0AMA_ECvtmuT2Uk9PVA"
IS_TEAM_DRIVE = "True"
DOWNLOAD_DIR = "/usr/src/app/downloads/"
DOWNLOAD_STATUS_UPDATE_INTERVAL = "10"
AUTO_DELETE_MESSAGE_DURATION = "30"
DATABASE_URL = "postgres://sdstcxps:dF6Cvh8QxgPrSdLJR5PfoBLHINNUODxt@kesavan.db.elephantsql.com/sdstcxps"
AUTHORIZED_CHATS = "-1001747096080 -1001700306252 -1001633845134 -1001769120545"
SUDO_USERS = "1137697757"
IGNORE_PENDING_REQUESTS = "True"
USE_SERVICE_ACCOUNTS = "True"
INDEX_URL = "https://flashx.cloudsx.workers.dev/0:"
STATUS_LIMIT = "2"
STOP_DUPLICATE = "True"
CMD_INDEX = ""
UPTOBOX_TOKEN = ""
TORRENT_TIMEOUT = ""
EXTENSION_FILTER = ""
INCOMPLETE_TASK_NOTIFIER = "True"
# Update
UPSTREAM_REPO = "https://github.com/A2ZMOVIEZ/mirror-leech-telegram-bot"
UPSTREAM_BRANCH = "master"
# Leech
USER_SESSION_STRING = "BQBqGykANEr8kr46JHrllvhci7z1pxdP0uX6X5NfTm8CBr5O9WAxVi5q3I2w0bpMxS6qJrT0QBtNE3fhu3EVgl7u4DBPExLSdQsCj2ZuyGmZdJwFqnIA1KqtF0H6wS6Iu6PfGALu0Nx1Frh2cwzyxutvqr-ZX-iDT2eT6unAwsshjQgHuS-eTylqXjg6RI3BE7IfSKg1zdjDNvpx-3SxLp3OrTS0Xec6WUpJrzLahHdrAogAo-B9_-Gl0QdEl-mdRIBgKHUoOtZ9RupnqjTgF-Swwoh1Jt-gzXXLogkUzAvzkmdDZnipzO-6p26dVQoJHqxjU6lAm8aUyDgFpMfdVbx4VgpyvgAAAABBxHCpAA"
LEECH_SPLIT_SIZE = "4194304000"
AS_DOCUMENT = "True"
EQUAL_SPLITS = ""
CUSTOM_FILENAME = "@Star_LinkZz"
DUMP_CHAT = "-1001694215718"
# qBittorrent/Aria2c
BASE_URL_OF_BOT = ""
SERVER_PORT = "80"
WEB_PINCODE = ""
# RSS
RSS_DELAY = ""
RSS_COMMAND = ""
RSS_CHAT_ID = ""
RSS_USER_SESSION_STRING = ""
# Private Files
ACCOUNTS_ZIP_URL = "https://flashx.cloudsx.workers.dev/0:/accounts.zip"
TOKEN_PICKLE_URL = "https://flashx.cloudsx.workers.dev/0:/token.pickle"
MULTI_SEARCH_URL = ""
YT_COOKIES_URL = ""
NETRC_URL = ""
# Mega
MEGA_API_KEY = ""
MEGA_EMAIL_ID = ""
MEGA_PASSWORD = ""
# Buttons
VIEW_LINK = ""
# Torrent Search
SEARCH_API_LINK = ""
SEARCH_LIMIT = ""
SEARCH_PLUGINS = '["https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/rarbg.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/piratebay.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/legittorrents.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/limetorrents.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/torrentscsv.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/zooqle.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/eztv.py",
                   "https://raw.githubusercontent.com/MaurizioRicci/qBittorrent_search_engines/master/kickass_torrent.py",
                   "https://raw.githubusercontent.com/MaurizioRicci/qBittorrent_search_engines/master/yts_am.py",
                   "https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/linuxtracker.py",
                   "https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/nyaasi.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/ettv.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/glotorrents.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/thepiratebay.py",
                   "https://raw.githubusercontent.com/nindogo/qbtSearchScripts/master/magnetdl.py",
                   "https://raw.githubusercontent.com/khensolomon/leyts/master/yts.py"]'
